USE [bdGestion]
GO
/****** Object:  User [bd]    Script Date: 1/04/2025 10:47:30 a. m. ******/
CREATE USER [bd] FOR LOGIN [bd] WITH DEFAULT_SCHEMA=[bd]
GO
ALTER ROLE [db_datareader] ADD MEMBER [bd]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [bd]
GO
/****** Object:  Schema [bd]    Script Date: 1/04/2025 10:47:30 a. m. ******/
CREATE SCHEMA [bd]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[id_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[tabla_afectada] [varchar](20) NOT NULL,
	[accion] [varchar](10) NOT NULL,
	[fecha] [datetime] NULL,
	[descripcion] [varchar](100) NULL,
	[id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSUMO]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSUMO](
	[id_consumo] [int] IDENTITY(1,1) NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NOT NULL,
	[id_electro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_consumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ELECTRODOMESTICO]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ELECTRODOMESTICO](
	[id_electro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[encendido] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_electro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOGAR]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOGAR](
	[id_hogar] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
	[id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hogar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICACION]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICACION](
	[id_noti] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[mensaje] [text] NOT NULL,
	[id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_noti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USU_HOGAR]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USU_HOGAR](
	[id_usu_hogar] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_hogar] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usu_hogar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[contra] [varchar](30) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONA]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONA](
	[id_zona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_hogar] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONA_ELECT]    Script Date: 1/04/2025 10:47:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONA_ELECT](
	[id_zona_elect] [int] IDENTITY(1,1) NOT NULL,
	[id_zona] [int] NOT NULL,
	[id_electro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_zona_elect] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDITORIA] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [FK_AUDITORIA_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [FK_AUDITORIA_USUARIO]
GO
ALTER TABLE [dbo].[CONSUMO]  WITH CHECK ADD  CONSTRAINT [FK_CONSUMO_ELECTRO] FOREIGN KEY([id_electro])
REFERENCES [dbo].[ELECTRODOMESTICO] ([id_electro])
GO
ALTER TABLE [dbo].[CONSUMO] CHECK CONSTRAINT [FK_CONSUMO_ELECTRO]
GO
ALTER TABLE [dbo].[HOGAR]  WITH CHECK ADD  CONSTRAINT [FK_HOGAR_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[HOGAR] CHECK CONSTRAINT [FK_HOGAR_USUARIO]
GO
ALTER TABLE [dbo].[NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICACION_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[NOTIFICACION] CHECK CONSTRAINT [FK_NOTIFICACION_USUARIO]
GO
ALTER TABLE [dbo].[USU_HOGAR]  WITH CHECK ADD  CONSTRAINT [FK_USU_HOGAR_HOGAR] FOREIGN KEY([id_hogar])
REFERENCES [dbo].[HOGAR] ([id_hogar])
GO
ALTER TABLE [dbo].[USU_HOGAR] CHECK CONSTRAINT [FK_USU_HOGAR_HOGAR]
GO
ALTER TABLE [dbo].[USU_HOGAR]  WITH CHECK ADD  CONSTRAINT [FK_USU_HOGAR_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[USU_HOGAR] CHECK CONSTRAINT [FK_USU_HOGAR_USUARIO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ESTADO] FOREIGN KEY([id_estado])
REFERENCES [dbo].[ESTADO] ([id_estado])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ESTADO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id_rol])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
ALTER TABLE [dbo].[ZONA]  WITH CHECK ADD  CONSTRAINT [FK_ZONA_HOGAR] FOREIGN KEY([id_hogar])
REFERENCES [dbo].[HOGAR] ([id_hogar])
GO
ALTER TABLE [dbo].[ZONA] CHECK CONSTRAINT [FK_ZONA_HOGAR]
GO
ALTER TABLE [dbo].[ZONA_ELECT]  WITH CHECK ADD  CONSTRAINT [FK_ZONA_ELECT_ELECTRO] FOREIGN KEY([id_electro])
REFERENCES [dbo].[ELECTRODOMESTICO] ([id_electro])
GO
ALTER TABLE [dbo].[ZONA_ELECT] CHECK CONSTRAINT [FK_ZONA_ELECT_ELECTRO]
GO
ALTER TABLE [dbo].[ZONA_ELECT]  WITH CHECK ADD  CONSTRAINT [FK_ZONA_ELECT_ZONA] FOREIGN KEY([id_zona])
REFERENCES [dbo].[ZONA] ([id_zona])
GO
ALTER TABLE [dbo].[ZONA_ELECT] CHECK CONSTRAINT [FK_ZONA_ELECT_ZONA]
GO
